#header-backgroung{
    background-image: url("../img/backgrounds/landing.jpg");
    background-repeat:no-repeat;
    height: 500px;
    width: 100%;
    background-image:no repeat;
  }
  #image-logo{
  display: block;
  margin-right: auto;
    margin-left: auto;
    padding-top:90px;
  }
  #header-backgroung p{color:white;
      text-align: center;
      font-size: 25px;
      font-family: arial;
      font-style: bold;
    }
