#header-backgroung{
    background-image: url("../img/backgrounds/landing.jpg");
    background-repeat:no-repeat;
    height: 500px;
    width: 100%;
    background-image:no repeat;
  }
  #image-logo{
  display: block;
  margin-right: auto;
    margin-left: auto;
    padding-top:90px;
  }
  #header-backgroung p{color:white;
      text-align: center;
      font-size: 25px;
      font-family: arial;
      font-style: bold;
    }
    happy-hour{
        background-color: grey;
        color: black;
        font-size: 30px;
        height:80px;
        padding-left:0px;

      }
      #party-time{
      background-image:url("../img/backgrounds/landing.jpg");
      color: white;
      font-size: 30px;
      height:80px;
      overflow: hide;
      padding-left:0px;

    }
    .breakfast{height:200px;
    margin: 0px;
    background-image: url("../img/foodtop/breakfast.jpg");
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: 80px;
    width:20%;
  }
  .lunch{height:200px;
  margin: 0px;
  background-image: url("../img/foodtop/lunch.jpg");
  text-align: center;
  color: white;
  vertical-align: middle;
  padding: 80px;
  width:20%;
}
.dinner{height:200px;
    margin: 0px;
    background-image: url("../img/foodtop/dinner.jpg");
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: 80px;
    overflow: hidden;
    width:20%;
  }
  #button{background-color: grey;}
  #fastfood-image{
    background-image: url("img/fastfood6.jpg");
    height:350px;
    width: 50%;
    display: block;
    overflow: hidden;
  }
  #backgroun-image{
    background-image: url("../img/backgrounds/foodsBg.jpg");
    height:400px;
  background-repeat:no repeat;
  }
.main-2{
  width:80%;
  height:30%;
  background-color:white;
  text-align: center;
  padding-left:20px;
  padding-top:40px;
  margin-top: 50px;
}
.main-3{
  width:100%;
  height:40%;
  background-color:white;
  padding-bottom:30px;
  padding:30px;
  margin:50px;
}


  #float-right{
    float:right;
  }

  .float-right {
      float:right;
  }
  .float-left {
    float:left;
}

  #fastfood-row{
    margin :50px;

  }
  .menu-images{padding:50px;}
  .menu-text p{text-align: center;
  padding:auto;
  padding-top: 20px;
  }
  .customer-images{padding: 15px;}
  .align-images-center{padding-left:120px;
    border-right: 2px solid black;
   }
