#header-backgroung{
    background-image: url("../img/backgrounds/landing.jpg");
    background-repeat:no-repeat;
    height: 500px;
    width: 100%;
    background-image:no repeat;
  }
  #image-logo{
  display: block;
  margin-right: auto;
    margin-left: auto;
    padding-top:90px;
  }
  #header-backgroung p{color:white;
      text-align: center;
      font-size: 25px;
      font-family: arial;
      font-style: bold;
    }
    happy-hour{
        background-color: grey;
        color: black;
        font-size: 30px;
        height:80px;
        padding-left:0px;

      }
      #party-time{
      background-image:url("../img/backgrounds/landing.jpg");
      color: white;
      font-size: 30px;
      height:80px;
      overflow: hide;
      padding-left:0px;

    }
    .breakfast{height:200px;
    margin: 0px;
    background-image: url("../img/foodtop/breakfast.jpg");
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: 80px;
    width:20%;
  }
